<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Category</th>
            <th>Specimen</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="value in diagnosticTestList">
            <td><input type="checkbox" ng-model="checkedTests[value.diagnostic_test_id]"></td>
            <td>{{ value.name }}</td>
            <td></td>
            <td>{{ value.specimen }}</td>
            <td>{{value.cost}}</td>
        </tr>
    </tbody>
</table>